:root { 
--blue_gray_50:#f1f1f1; 
--red_600:#e14942; 
--blue_A400:#1877f2; 
--red_300:#cb8f6d; 
--deep_purple_400:#8649d1; 
--blue_300_01:#6bc6f5; 
--gray_800_01:#3c4043; 
--amber_A200:#efca45; 
--green_600:#3eaf3f; 
--amber_A400:#f8bd00; 
--deep_purple_200:#c7a3f0; 
--green_A700:#27ca40; 
--yellow_800:#e1a325; 
--yellow_700:#ffc130; 
--deep_purple_A200:#8d31e4; 
--blue_gray_900:#282b54; 
--purple_A100:#ee94ed; 
--pink_200:#ea81b6; 
--gray_700:#5f6368; 
--gray_400:#babcbe; 
--red_600_01:#e33629; 
--blue_gray_400:#8e8e8e; 
--red_A200:#ff6058; 
--gray_800:#494c4f; 
--gray_900:#202124; 
--pink_200_01:#e980b5; 
--gray_300:#dee1e6; 
--orange_300:#f5bc68; 
--gray_300_02:#e2e2e2; 
--gray_300_01:#dadce0; 
--gray_100:#f1f3f4; 
--indigo_400:#587dbd; 
--blue_300:#6cc6f5; 
--green_600_01:#319f43; 
--white_A700:#ffffff; 
--gray_700_01:#696a6c; 
}